<?xml version="1.0" encoding="utf-8" ?>
<yabe>
  
  <!-- Setup general machine information -->
  <host>
    <hostname><hostname here></hostname>
  </host>

  <!-- Setup actions to be executed -->
  <actions>
    <action id="1" type="shellcommand">
      <shellcommand>dir /c</shellcommand>
      <exitcodesuccess>0</exitcodesuccess>
      <exitcodesuccess>1</exitcodesuccess>
      <regexsuccess></regexsuccess>
    </action> >
    <action id="2" type="shellcommand">
      <shellcommand>dir /c</shellcommand>
      <exitcodesuccess>0</exitcodesuccess>
      <regexsuccess></regexsuccess>
    </action> >
  </actions>

  <!-- Setup notification -->
  <notification>
    <email>
      <smtphost>X.X.X.X</smtphost>
      <smtpport>25</smtpport>
      <mailmessage event="onsuccess">
        <sender name="<sender name here>" email="<sender email here>" />
        <subject>Backup Notification</subject>
        <body>The Backup was successful.</body>
        <recipients>
          <recipient name="<recipient name here>" email="<recipient email here>" />
        </recipients>
      </mailmessage>
      <mailmessage event="onerror">
        <sender name="<sender name here>" email="<sender email here>" />
        <subject>Backup Alert</subject>
        <body>An error occurred. Please consult the logfiles.</body>
        <recipients>
          <recipient name="<recipient name here>" email="<recipient email here>" />
        </recipients>
      </mailmessage>
    </email>
  </notification>
</yabe>
